absl-py==0.11.0
aiohttp @ file:///tmp/build/80754af9/aiohttp_1607109610110/work
altair==4.1.0
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828493937/work
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
Babel==2.8.0
backcall==0.2.0
base58==2.1.0
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blinker==1.4
blis==0.7.4
brotlipy==0.7.0
bz2file==0.98
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.12.5
cffi @ file:///tmp/build/80754af9/cffi_1600699146221/work
chardet==3.0.4
click==7.1.2
cloudpickle==1.3.0
configparser==5.0.2
cryptography @ file:///tmp/build/80754af9/cryptography_1601046815590/work
cupy-cuda92==9.0.0b1
cycler==0.10.0
cymem==2.0.5
Cython==0.29.22
dataclasses==0.6
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.3.0/de_core_news_sm-2.3.0.tar.gz
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
dm-tree==0.1.5
docker-pycreds==0.4.0
dopamine-rl==3.1.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
et-xmlfile==1.0.1
fastrlock==0.5
fasttext==0.9.2
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
flax==0.2.1
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
gevent==20.9.0
gin-config==0.3.0
gitdb==4.0.5
GitPython==3.1.14
google-api-core==1.26.1
google-api-python-client==1.12.2
google-auth @ file:///tmp/build/80754af9/google-auth_1607969906642/work
google-auth-httplib2==0.0.4
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1603929124518/work
google-cloud-bigquery==2.11.0
google-cloud-core==1.6.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
greenlet==0.4.17
grpcio==1.32.0
gunicorn==20.0.4
gym==0.17.2
h5py==2.10.0
httplib2==0.18.1
idna==2.10
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446406207/work
importlib-resources==3.0.0
inflect==4.1.0
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596207638929/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1598883821407/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jax==0.2.0
jaxlib==0.1.55
jdcal==1.4.1
jedi @ file:///tmp/build/80754af9/jedi_1598371611696/work
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core==4.6.3
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1600976720582/work
kaggle==1.5.10
Keras-Preprocessing==1.1.2
kfac==0.2.2
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1604014535162/work
Markdown @ file:///tmp/build/80754af9/markdown_1605111056890/work
MarkupSafe==1.1.1
matplotlib==3.3.2
mesh-tensorflow==0.1.16
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mpmath==1.1.0
msgpack==1.0.0
multidict @ file:///tmp/build/80754af9/multidict_1600456399709/work
murmurhash==1.0.5
nbclient @ file:///tmp/build/80754af9/nbclient_1601059699549/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601069204803/work
nbformat==5.0.7
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1600977170767/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
notebook @ file:///tmp/build/80754af9/notebook_1596838629813/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603570489231/work
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.4.0.44
opencv-python-headless==4.5.1.48
openpyxl==3.0.6
opt-einsum==3.3.0
packaging==20.4
pandas @ file:///tmp/build/80754af9/pandas_1602088120436/work
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plac==1.1.3
portalocker==2.0.0
preshed==3.0.5
prometheus-client==0.8.0
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
proto-plus==1.15.0
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.6.0
py-cpuinfo==7.0.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycocotools==2.0.2
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydeck==0.6.1
pygame==1.9.6
pyglet==1.5.0
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
PyJWT==1.7.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pypng==0.0.20
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141720057/work
PySocks==1.7.1
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.1
PyYAML==5.4.1
pyzmq==19.0.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
regex @ file:///tmp/build/80754af9/regex_1596829684054/work
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.0
rouge-score==0.0.4
rsa==4.6
sacrebleu==1.4.14
sacremoses==0.0.43
scikit-learn==0.23.2
scipy @ file:///tmp/build/80754af9/scipy_1614022789989/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
Send2Trash==1.5.0
sentencepiece==0.1.91
sentry-sdk==1.0.0
seqeval==1.2.2
shortuuid==1.0.1
simpletransformers==0.60.9
sip==4.19.13
six==1.15.0
smmap==3.0.5
spacy==2.3.5
srsly==1.0.5
streamlit==0.77.0
subprocess32==3.5.4
sympy==1.6.2
t5==0.6.4
tensor2tensor==1.15.7
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.4.1
tensorflow-addons==0.11.2
tensorflow-datasets==3.2.1
tensorflow-estimator==2.4.0
tensorflow-gan==2.0.0
tensorflow-hub==0.9.0
tensorflow-metadata==0.24.0
tensorflow-model-optimization==0.5.0
tensorflow-probability==0.7.0
tensorflow-text==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
tf-models-official==2.4.0
tf-slim==1.1.0
tfds-nightly==3.2.1.dev202009280107
thinc==7.4.5
threadpoolctl==2.1.0
tokenizers==0.10.1
toml==0.10.2
toolz==0.11.1
torch==1.6.0
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1600709023549/work
traitlets==4.3.3
transformers==4.3.3
trax==1.3.5
typeguard==2.9.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
tzlocal==2.1
uritemplate==3.0.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1606938623459/work
validators==0.18.2
wandb==0.10.21
wasabi==0.8.0
watchdog==2.0.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
XlsxWriter==1.3.7
yarl @ file:///tmp/build/80754af9/yarl_1598045023180/work
zipp==3.1.0
zope.event==4.5.0
zope.interface==5.1.0
